<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622406208526-9b3qdt52h9ph5t22u93sc3hfga71gfeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622406208526-9b3qdt52h9ph5t22u93sc3hfga71gfeq</string>
	<key>API_KEY</key>
	<string>AIzaSyCnCjbm5FmNN46ze-M1V0We_YK_zVLm9GU</string>
	<key>GCM_SENDER_ID</key>
	<string>622406208526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spid.app</string>
	<key>PROJECT_ID</key>
	<string>spid-eaca7</string>
	<key>STORAGE_BUCKET</key>
	<string>spid-eaca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622406208526:ios:601deeaa6edc15a3a8c05f</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5159016515859793~2816829162</string>
</dict>
</plist>